.logo-nav-container {
    /* display: flex; */
    /* justify-content: space-between; */
    /* font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: 'Roboto'; */
    align-items: center;
    /* flex-wrap: wrap; */
    position: fixed;
    /* padding: 1px; */
    /* margin-left:5px; */
    margin-top: 10px;
    width: 168px;
}

.logo {
    /* font-family: 'Roboto'; */
    /* font-weight: bold; */
    font-size: 0.9em;
    text-decoration: none;
    text-align: center;
    width: 168px;
    color: white;
    margin: 0px;
    height: 23px;
}

.menu-icon {
    color: rgb(133, 194, 167);
    font-size: 12px;
    text-align: right;
    /* font-weight: bold; */
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    /* text-align: center; */
    font-variant: small-caps;
    width: 113px;
    margin: 1em;
    user-select: none;
}

div#resumenVolumen {
    animation-duration: 300ms;
    /* animation-delay: 2s; */
    /* animation-iteration-count: infinite; */
}

/* .show {
    display:block;
}

.noshow {
    display:none;
} */

table.res {
    color: white;
    width: 100%;
    font-size: 0.7em;
    border-collapse: collapse;
}

.res tfoot {
    border-top: solid 2px #1f457a;
    font-size: 1em;;
}

.res thead tr th,
.res tfoot tr th {
    padding: 5px 5px;
    background-color: #43568f;
}

.res tfoot tr th:nth-child(2) {
    text-align: center;
}

.res tfoot tr th:nth-child(3) {
    text-align: right;
}

.res th:nth-child(1) {
    text-align: left;
}

.res th:nth-child(2) {
    text-align: right;
}

.res tbody td {
    padding: 5px;
    background-color: #7a8ab8;
}

.res thead th {
    /* border:solid 1px white; */
    /* font-size: 0.9em; */
    padding: 5px;
    background-color: #43568f;
    border-bottom: solid 2px #1f457a
}

.res tbody tr:nth-child(even) td {
    background-color: #99a7d4;
}

.res tbody td:nth-child(2),
.res tfoot th:nth-child(2) {
    text-align: center;
}

/* .res.volumen tbody tr td:nth-child(2),
.res.volumen tbody tr th:nth-child(2) {
    text-align: center;
} */

.res tbody td:nth-child(2),
.res tfoot th:nth-child(2) {
    font-size: 0.9em;
}

.res tbody tr td:nth-child(3) {
    text-align: right;
}

.container-btn {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    /* margin: 5px; */
    /* padding: 0.6rem; */
    /* display: inline-block; */
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    margin: 5% 5% 5% 5%;
    width: 100%;
    /* width: 90%; */
    /* float: left; */
    background-color: rgb(133, 194, 167);
    border-radius: 3px;
    color: white;
    /* display: block; */
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 1px 3px #1f457a;
    transition: all 0.2s linear;
    font-size: 0.8EM;
    font-variant: small-caps;
    /* letter-spacing: 2px; */
    vertical-align: middle;
}

.btn:hover {
    background-color: rgb(166, 213, 191);
}

.btn img {
    float: left;
    height: 24px;
}