.logo-nav-container {
    /* display: flex; */
    /* justify-content: space-between; */
    /* font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    align-items: center;
    /* flex-wrap: wrap; */
    position: fixed;
    /* padding: 1px; */
    /* margin-left:5px; */
    margin-top: 10px;
    width: 168px;
}

.logo {
    /* font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-weight: bold; */
    font-size: 0.9em;
    text-decoration: none;
    text-align: center;
    width: 168px;
    color: white;
    /* margin-left:2rem; */
    margin-bottom: 0.3rem;
}

table.res {
    color: white;
    width: 100%;
    font-size: 0.7em;
    border-collapse: collapse;
}

.res thead {
    border-bottom: solid 2px #1f457a
}

.res thead tr th {
    padding: 5px 5px;
    background-color: #43568f;
    /* font-size: 0.9em; */
}

/* .precio thead tr th:nth-child(1) {
    text-align: left;
/* } */

.res thead tr th:nth-child(2) {
    text-align: right;
}

/* .precio tbody tr td:nth-child(2) { */
    /* float: left; */
    /* width: 60px; */
/* } */

/* .precio tbody tr td:nth-child(3) { */
    /* float: left; */
    /* width: 60px; */
/* } */

.res tbody td {
    /* border:solid 1px white; */
    /* font-size: 0.9em; */
    padding: 5px;
    background-color: #7a8ab8;
    /* border: solid 1px white; */
}

/* .res tbody.precios td:nth-child(2) { */
/* border:solid 1px white; */
/* font-size: 0.8em; */
/* padding:5px; */
/* background-color: #7a8ab8; */
/* border: solid 1px white; */
/* } */

.res tbody th {
    /* border:solid 1px white; */
    /* font-size: 0.9em; */
    padding: 5px;
    background-color: #43568f;
    border-top: solid 2px #1f457a
}

.res tbody tr:nth-child(even) td {
    background-color: #99a7d4;
}

.res tbody tr td:nth-child(2),
.res tbody tr th:nth-child(2) {
    text-align: right;
}

.res tbody tr td:nth-child(3) {
    text-align: right;
}

.container-btn {
    box-sizing: border-box;
    width: 100%;
    /* margin: 5px; */
    /* padding: 0.6rem; */
    /* display: inline-block; */
}

.btn {
    box-sizing: border-box;
    margin: 5% 0px 5% 5%;
    width: 42.5%;
    float: left;
    background-color: rgb(133, 194, 167);
    border-radius: 3px;
    color: white;
    /* display: block; */
    text-decoration: none;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 1px 3px #1f457a;
}

.btn:hover {
    background-color: rgb(166, 213, 191);
}